{% extends "@App/base.html.twig" %}
{% block body %}
    <input type="text" id="app_url">
    <input type="button" id="app_btn_add" value="Сократить ссылку">
    <div>
    <strong>Ваша ссылка: </strong><a href="#" id="app_response_label" target="_blank"></a>
    </div>
{% endblock %}